<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>storage</key>
        <string>never</string>
        <key>log</key>
        <string>logw363</string>
        <key>logSSL</key>
        <string>logws1363</string>
        <key>domain</key>
        <string>ati-host.net</string>
        <key>pixelPath</key>
        <string>/hit.xiti</string>
        <key>site</key>
        <string>596068</string>
        <key>secure</key>
        <string>true</string>
        <key>identifier</key>
        <string>UUID</string>
        <key>persistIdentifiedVisitor</key>
        <string>true</string>
        <key>campaignLifetime</key>
        <string>30</string>
        <key>campaignLastPersistence</key>
        <string>true</string>
        <key>sessionBackgroundDuration</key>
        <string>60</string>
        <key>downloadSource</key>
        <string>int</string>
        <key>sendOnApplicationState</key>
        <string>all</string>
        <key>sendHitWhenOptOut</key>
        <string>true</string>
        <key>plugins</key>
        <string></string>
        <key>enableBackgroundTask</key>
        <string>false</string>
        <key>hashUserId</key>
        <string>false</string>
        <key>collectDomain</key>
        <string></string>
        <key>ignoreLimitedAdTracking</key>
        <string>false</string>
    </dict>
</plist>